    /*
    Flaticon icon font: Flaticon
    Creation date: 30/11/2016 10:38
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-air-refreshener:before { content: "\f100"; }
.flaticon-battery:before { content: "\f101"; }
.flaticon-car:before { content: "\f102"; }
.flaticon-car-1:before { content: "\f103"; }
.flaticon-car-breakdown:before { content: "\f104"; }
.flaticon-car-key:before { content: "\f105"; }
.flaticon-car-wash:before { content: "\f106"; }
.flaticon-chassis:before { content: "\f107"; }
.flaticon-cleaner:before { content: "\f108"; }
.flaticon-crane:before { content: "\f109"; }
.flaticon-dashboard:before { content: "\f10a"; }
.flaticon-dices:before { content: "\f10b"; }
.flaticon-dummy:before { content: "\f10c"; }
.flaticon-engine:before { content: "\f10d"; }
.flaticon-exhaust-pipe:before { content: "\f10e"; }
.flaticon-funnel:before { content: "\f10f"; }
.flaticon-gas-station:before { content: "\f110"; }
.flaticon-gasoline:before { content: "\f111"; }
.flaticon-gearshift:before { content: "\f112"; }
.flaticon-gearshift-1:before { content: "\f113"; }
.flaticon-hydraulic-jack:before { content: "\f114"; }
.flaticon-license-plate:before { content: "\f115"; }
.flaticon-mechanic:before { content: "\f116"; }
.flaticon-oil:before { content: "\f117"; }
.flaticon-pedals:before { content: "\f118"; }
.flaticon-piston:before { content: "\f119"; }
.flaticon-pliers:before { content: "\f11a"; }
.flaticon-rearview-mirror:before { content: "\f11b"; }
.flaticon-reflective-triangle:before { content: "\f11c"; }
.flaticon-route-66:before { content: "\f11d"; }
.flaticon-seat-belt:before { content: "\f11e"; }
.flaticon-spark:before { content: "\f11f"; }
.flaticon-steering-wheel:before { content: "\f120"; }
.flaticon-suspension:before { content: "\f121"; }
.flaticon-toolbox:before { content: "\f122"; }
.flaticon-tools:before { content: "\f123"; }
.flaticon-voltmeter:before { content: "\f124"; }
.flaticon-wheel:before { content: "\f125"; }
.flaticon-wiper:before { content: "\f126"; }
.flaticon-wrench:before { content: "\f127"; }
    
    $font-Flaticon-air-refreshener: "\f100";
    $font-Flaticon-battery: "\f101";
    $font-Flaticon-car: "\f102";
    $font-Flaticon-car-1: "\f103";
    $font-Flaticon-car-breakdown: "\f104";
    $font-Flaticon-car-key: "\f105";
    $font-Flaticon-car-wash: "\f106";
    $font-Flaticon-chassis: "\f107";
    $font-Flaticon-cleaner: "\f108";
    $font-Flaticon-crane: "\f109";
    $font-Flaticon-dashboard: "\f10a";
    $font-Flaticon-dices: "\f10b";
    $font-Flaticon-dummy: "\f10c";
    $font-Flaticon-engine: "\f10d";
    $font-Flaticon-exhaust-pipe: "\f10e";
    $font-Flaticon-funnel: "\f10f";
    $font-Flaticon-gas-station: "\f110";
    $font-Flaticon-gasoline: "\f111";
    $font-Flaticon-gearshift: "\f112";
    $font-Flaticon-gearshift-1: "\f113";
    $font-Flaticon-hydraulic-jack: "\f114";
    $font-Flaticon-license-plate: "\f115";
    $font-Flaticon-mechanic: "\f116";
    $font-Flaticon-oil: "\f117";
    $font-Flaticon-pedals: "\f118";
    $font-Flaticon-piston: "\f119";
    $font-Flaticon-pliers: "\f11a";
    $font-Flaticon-rearview-mirror: "\f11b";
    $font-Flaticon-reflective-triangle: "\f11c";
    $font-Flaticon-route-66: "\f11d";
    $font-Flaticon-seat-belt: "\f11e";
    $font-Flaticon-spark: "\f11f";
    $font-Flaticon-steering-wheel: "\f120";
    $font-Flaticon-suspension: "\f121";
    $font-Flaticon-toolbox: "\f122";
    $font-Flaticon-tools: "\f123";
    $font-Flaticon-voltmeter: "\f124";
    $font-Flaticon-wheel: "\f125";
    $font-Flaticon-wiper: "\f126";
    $font-Flaticon-wrench: "\f127";